/build/
/.gradle/
.idea/
/out/
.claude/
COMPILATION-ISSUES.md

# Sensitive data - added from template - removed for now because I have a private GitHub repo.
#/data/tasks.csv
#/data/metrics.csv
#/wk*/research/*notes.md
#*.log

